.subscription {
    margin-top: 100px;

    &__wrapper {
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }

    &__container-center {
        width: 420px;
        height: 750px;
        background: #B8935F;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    &__txt-center {
        font-family: 'Roboto';
        font-weight: 400;
        text-transform: uppercase;
        font-size: 32px;
        opacity: 0.3;
    }

    &__container-txt {
        padding-top: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        font-weight: 400;
        font-family: 'Roboto';
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    &__btn {
        padding: 13px 60px;
        color: white;
        text-transform: uppercase;
        background: #40403A;
        border-radius: 19px;
        border: none;
    }

    &__container-bottom {
        margin: 100px auto 0px;
        width: calc(100% - 175px - 175px);
        text-align: center;
    }

    &__txt-bottom {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }
}